<footer>
    {% block footer %}{% endblock %}
    <div class="text-right">
    Donate: <a href="#" data-toggle="modal" data-target="#donateModal">CRZvJu7DsdL2LcqRT8wXF8eC8uu4ft4C3n</a>
    </div>
    <div class="text-right">
        Report Issues <a href="https://github.com/joshpetrick/ptcrocks/issues">here.</a>
    </div>
    <br/>
    <div class="text-left">
    <script type="text/javascript">
        baseUrl = "https://widgets.cryptocompare.com/";
        var scripts = document.getElementsByTagName("script");
        var embedder = scripts[ scripts.length - 1 ];
        (function (){
            var appName = encodeURIComponent(window.location.hostname);
            if(appName==""){appName="local";}
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            var theUrl = baseUrl+'serve/v3/coin/header?fsyms=,CHC,BTC,ETH&tsyms=USD';
            s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
            embedder.parentNode.appendChild(s);
        })();
    </script>
    </div>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="donateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Donate</h4>
            </div>
            <div class="modal-body text-center">
                <strong style="padding-top: 10px; padding-bottom: 10px; display: inline-block;">CRZvJu7DsdL2LcqRT8wXF8eC8uu4ft4C3n</strong>
                <img src="{{ asset('png/donate_qr.png') }}" style="width: 300px; height: 300px;">
            </div>
        </div>
    </div>
</div>