{% extends "layout.html.twig" %}

{% block title %}Chain Title{% endblock %}

{% block jumbotron %}
    Jumbotron
{% endblock %}


{% block content %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h2>Transfer Coins</h2>
            <p>Use this functionality to transfer coins</p>
            <p><a class="btn btn-default" href="/transfer" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>
{% endblock %}



