{% extends "layout.html.twig" %}

{% block title %}Transfer Coins{% endblock %}

{% block jumbotron %}
    Jumbotron
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-bottom: 50px;">
            <h1>{{ balance }} CHC</h1>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            Transferring {{ amount }} CHC to {{ address }}...
            SUCCESS: <br />
            Transaction ID: {{ result }}
        </div>
    </div>

    <hr>
{% endblock %}

