{% extends "layout.html.twig" %}

{% block title %}Transfer Coins{% endblock %}

{% block jumbotron %}
    Jumbotron
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-bottom: 50px;">
            <h1>{{ balance }} CHC</h1>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                Transferring <b>{{ amount }}</b> CHC to {{ address }}... <br/>
                SUCCESS: <br />
                <b>Transaction ID:</b> {{ result }}
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

