{% extends "layout.html.twig" %}

{% block title %}Transfer Coins{% endblock %}

{% block jumbotron %}
    Jumbotron
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-bottom: 50px;">
            {% if balance < 1000 %}
                <h1 style="color:#ff9900;" data-toggle="tooltip" data-placement="left" title="Must have at least 1000CHC to start MasterNode - Please Zero Out Your Node.  You must transfer back exactly 1000CHC before node will start.">
            {%  else %}
                <h1>
            {%  endif %}
                {{ balance }} CHC
            </h1>
        </div>
    </div>

    {% if errorMsg is not null %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    {{ errorMsg }}
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="/transfer" method="POST">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="amount">Amount</label>
                        <div class="col-md-5">
                            <input id="amount" name="amount" type="text" placeholder="{% if balance > 1000 %}{{ balance - 1000 }}{% elseif balance == 1000 %}{{ 0 }}{% else %}{{ balance }}{% endif %}" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="address">Address</label>
                        <div class="col-md-5">
                            <input id="address" name="address" type="text" placeholder="address" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-5">
                            <button id="submit" name="submit" class="btn btn-block btn-primary">Transfer</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <hr>
{% endblock %}
